<%= erb :nav %>
<div class="container">
<section id="profile-top">
  <div id="image-area">
    <img src="http://www.gravatar.com/avatar/<%= gravatar_image(params[:user_id]) %>?d=http%3A%2F%2Fi.imgur.com%2FUZbVXSI.png&s=200" width="300" height="300">
  </div>

  <section>
    <center><h2>Hi, I'm <%= @user_full_name %></h2></center>
    <center><h2>@<%= @username %></h2></center>
  </section>

  <section id="follow">
    <div id="follow-info">
      <strong><a href="/users/<%= params[:user_id] %>/followers">Followers</a>: <%= @follower_count %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <a href="/users/<%= params[:user_id] %>/following">Following</a>: <%= @following_count %></strong>
    </div>
    <% unless params[:user_id] == current_user.to_s %>
      <% unless @user.following_ids.include?(params[:user_id].to_i) %>
        <form action="/followers/<%=params[:user_id]%>" method="post">
          <input type="submit" value="Follow">
        </form>
      <%else%>
        <form action="/unfollow/<%=params[:user_id]%>" method="post">
          <input type="submit" value="Unfollow">
        </form>
      <%end%>
    <%end%>
  </section>
</section>

<div id="feed">
  <u><h1>My Oinks</h1></u>
  <ul id="oink">
    <% user_oinks.each do |oink| %>
    <li>
      <p><%= oink.message %></p>
      <p><%= oink.created_at %></p>
    </li>
    <% end %>
  </ul>
</div>
</div>
