<%= erb :nav %>

<div class="container" id="user-list">
    <h1><%=  @list_name  %></h1>
    <ul>
        <% @users.each do |user| %>
            <li><a href="/users/<%=  User.find_by(username: user).id  %>"><img src="http://www.gravatar.com/avatar/<%= gravatar_image( User.find_by(username: user).id ) %>?d=http%3A%2F%2Fi.imgur.com%2FUZbVXSI.png&s=150" width="150" height="150"></li>
            <li> <%= user %> </a> </li>
            <br>
        <% end %>
    </ul>
</div>
